extends layout

block content
  h1.about about
  p.about based on data from #[a(href='http://uncontext.com') uncontext]
  p.about submit a text: #[a(href='/') /]
  p.about all texts: #[a(href='/list') /list]
  p.about source code: #[a(href='https://github.com/jaredmcdonald/uncontext-poet') github.com/jaredmcdonald/uncontext-poet]
