extends layout

block content
  aside#controls
    h4 algorithm editor
    textarea#editor m / s
    pre#sample
  p#container
  script var PARSED_DATA = !{JSON.stringify(item.parsed)}
  script(src='/socket.io/socket.io.js')
  script(src='/js/dist/app.js')
