extends layout

block content
  form(method="POST" action="/parse")
    textarea#source(placeholder="Enter some text and press SUBMIT..." name="source")
    input(type="submit" value="SUBMIT")
    a.nav-link(href="/list") all texts
    a.nav-link(href="/about") about
    
