html {
  box-sizing: border-box;
  width : 100%;
  height : 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 90%;
  height: 90%;
  margin: 1em auto;
}

form, #source {
  width: 100%;
  height: 100%;
}

#controls {
  position: fixed;
  right: 1em;
  top: 1em;
  min-width: 24em;
}

#editor {
  width: 26em;
}

#editor.invalid {
  outline: 1px solid red;
}

html,
#source,
#editor {
  font-family: monospace;
}

#container {
  overflow-wrap: break-word;
}

.about {
  margin: 0
}

.nav-link {
  display: inline-block;
  margin-left: 2em;
}
